APP_NAME=TpApi
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tp_api
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

TELESCOPE_ENABLED=true

SOLR_URL=http://localhost:8983
SOLR_HOST=tp_solr
SOLR_PORT=8983
SOLR_PATH=
SOLR_CORE=merged_core

PAGE2ALTO_API_URL=https://page2alto.example.com:9000/
PAGE2ALTO_API_TOKEN=Auth-Bearer-Token

EXPORT_FILENAME_PREFIX=transcribathon

MAIL_MAILER=smtp
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=username
MAIL_PASSWORD=password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="no-reply@example.com"
MAIL_FROM_NAME="Transcribathon"

ENRICH_EUROPEANA_IIIF_SSO_URL=sso_url
ENRICH_EUROPEANA_IIIF_CLIENT_SECRET=secret
ENRICH_EUROPEANA_IIIF_CLIENT_ID=client
